<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div>
            <h1>My Lists
            </h1>
            <table>
                <thread>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Number of items
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for item in todo_list.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>


</body>
</html>
